/* Text colors */
.text-primary {
  /* color: #28a745; */
  color: #00a8e8;
}

.text-secondary {
  /* color: #0284d0; */
  color: #007ea7;
}

/* Button */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #00a8e8;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}
